{% extends "base_new.html" %}

{% load static %}

{% block additional_css %}


#results {
	position: absolute;
	top: 425px;
	//height: 500px;
}
.column1 {
	float: left;
	width: 620px;
	margin: 10px;
}
.column2 {
	float: left;
	width: 300px;
	margin: 10px;
}
.column3 {
	float: left;
	width: 300px;
	margin: 10px;
}



{% endblock %}

{% block main_content %}

{% if image_file_name %}
	<div id="results">
		<div class="column1">
			{% with '/images/'|add:image_file_name as image_static %}
				<img src="{% static image_static %}" alt="Econometric image" />
			{% endwith %}
		</div>
		<div class="column2">
			{{ table1 | safe }}
		</div>
		<div class="column3">
			<table>
				<tr><td>Future Time Period</td><td>Index Value</td></tr>
				{% for prediction in predictions %}
					<tr><td>{{ prediction.1 }}</td><td>{{ prediction.0|floatformat:2 }}</td></tr>
				{% endfor %}	
			</table>
		</div>
	</div>
{% endif %}


{% endblock %}